@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'monospacetypewriterregular';
  src: url('MonospaceTypewriter-webfont.eot');
  src: url('MonospaceTypewriter-webfont.eot?#iefix') format('embedded-opentype'),
       url('MonospaceTypewriter-webfont.woff2') format('woff2'),
       url('MonospaceTypewriter-webfont.woff') format('woff'),
       url('MonospaceTypewriter-webfont.ttf') format('truetype'),
       url('MonospaceTypewriter-webfont.svg#monospacetypewriterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
} */



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
